name: Integration Test
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Requirements
        id: requirements
        uses: ryan-rozario/pipreqs-action-cpy@master
